{% extends 'base.html' %}
{% block head %}
    <style>
        .center {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
{% endblock %}
{% block title %}Edit profile{% endblock %}
{% block content %}
    <div class="center" >
    <h1>Edit your profile</h1>
    <form method="post" enctype="multipart/form-data">
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Save Changes">
    </form >
    </div>
 enctype="multipart/form-data"
{% endblock %}