{% load thumbnail %}
{% for user in image.users_liked.all %}
    <div class="user">

        {% if user.profile.image %}
            {#                   <img src="{{ user.profile.image.url }}" alt="{{ user.first_name|default:user.username }}">#}
            <img style="border-radius: 40px" src="{% thumbnail user.profile.image 50x50 %}"
                 alt="{{ user.first_name|default:user.username }}">
        {% endif %}
        {{ user.first_name|default:user.username }}
    </div>
{% endfor %}