{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block domready %}
{#                    <script>#}
    const url = "{% url 'images:like' %}";
    console.log(url);
    var options = {
    method: "POST",
    headers: {"X-CSRFToken": token},
    mode: 'same-origin',
    }
    {#    window.alert("selected like button" + document.getElementById("like").toString())#}
    document.getElementById("like").addEventListener('click', function (e) {
    // select all <a>'s with class like and

    //add an event to them
    {#    window.alert("click event recieved");#}
    e.preventDefault(); // prevent <a> from deafault action which is opening the url in a new page
    var likeButton = this; // create a likebutton object from <a> with id 'like'
    {#    window.alert("action" + likeButton.dataset.action.toString())#}

    // making the request body
    var form = new FormData(); // a form
    form.append('id', likeButton.dataset.id); // add id field to the form; get it from likeButton var we have made
    form.append('action', likeButton.dataset.action); // add action field to the form
    options['body'] = form // add the form to the body of the options which is then sent to fetch fuction

    //send httpRequest
    fetch(url, options).then(response => response.json()).then(data => {
    if (data['status'] === 'ok') {
    var previous_action = likeButton.dataset.action

    {#    window.alert("request was successful");#}

    // change the text of like button and its action
    var new_action = previous_action === "like" ? "like" : "unlike";
    {#    window.alert(new_action.toString())#}
    likeButton.dataset.action =likeButton.innerHTML = new_action === "like" ? "unlike" : "like";
    {#    window.alert("like button changed")#}
    // updating like count
    var like_count_element = document.getElementById("total"); // get the span whihc shows amount of likes
    var total_like = parseInt(like_count_element.innerText);
    {#    window.alert("like amount changed ")#}
    if (new_action === "like") {
    like_count_element.innerHTML = total_like + 1;
    } else {
    like_count_element.innerHTML = total_like - 1;
    }
{#    if (new_action === "like"){#}
    {#            window.alert('we are liking')#}
{#    var url2 = "{% url 'images:like' %}";#}
    {#    window.alert(url2);#}
{#    var new_token = Cookies.get('csrftoken')#}
{#    var new_options = {#}
{#    method: "POST",#}
{#    headers: {"X-CSRFToken":new_token },#}
{#    mode: 'same-origin',#}
{#    }#}
{#    var formm = new FormData()#}
{#    formm.append('special_action','1');#}
{#    new_options['body'] = formm;#}
    {#            console.log(new_options);#}
    {#            window.alert(new_options);#}
{#    fetch(url2,new_options).then(response => response.text()).then(html =>{#}
{#    var div = document.getElementById('users')#}
{#        window.alert(html)#}
{#    div.insertAdjacentHTML('beforeend',html)#}
{##}
{#    })}#}
{#    else {#}
{#    window.alert('we are in dislike')#}
{#        window.alert('we are in else')#}
{#    var url3 = "{% url 'images:add_images' %}"#}
{#    window.alert(url3)#}
{#    var options = {#}
{#    method: "GET",#}
{#    mode: 'same-origin',#}
{#    'image': '{{ image.id }}'#}
{#    }#}
{#    fetch(url3,options).then(response => response.text()).then(html =>{#}
{##}
{#    var div = document.getElementById('users')#}
{#        div.innerHTML = ``#}
{#        div.insertAdjacentHTML('beforeend',html)#}
{#    })#}
{#    }#}

    }})
    }
{% endblock %}

{% block title %}{{ image.title }}{% endblock %}

{% block content %}
    <a href="{{ image.url }}"> <!--url of Image object-->
        <img src="{% thumbnail image.image 300x0 %}" alt="{{ image.title }}" class="image-detail">
    </a>
    {% with amount_likes=image.total_likes al_liked=image.users_liked.all %}
        <div style="margin-top: 20px" class="image-info">
        <span class="count" id="count">
            <span class="total" id="total">{{ amount_likes }}</span> like{{ amount_likes|pluralize }}
        </span>
            <a id="like" href="#"
               data-id='{{ image.id }}'
               data-action="{% if request.user in al_liked %}un{% endif %}like"
               class="like button">
                {% if request.user in al_liked %}
                    Unlike
                {% else %}
                    Like
                {% endif %}
            </a>
            {{ image.description|linebreaks }}
        </div>
    {% endwith %}

    <div id="users">
        {% for user in image.users_liked.all %}
            <div class="user">
                {% if user.profile.image %}
                    {#                   <img src="{{ user.profile.image.url }}" alt="{{ user.first_name|default:user.username }}">#}
                    <img style="border-radius: 40px" src="{% thumbnail user.profile.image 50x50 %}"
                         alt="{{ user.first_name|default:user.username }}">
                {% endif %}
                {{ user.first_name|default:user.username }}
            </div>
        {% endfor %}
    </div>



{% endblock %}

