{% extends 'base.html' %}
{% block title %}reset confirm{% endblock %}
{% block content %}
    {% if validlink %}
        <p>{{ validlink }}</p>
        <p>Enter your new password</p>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Save changes"></p>
        </form>
    {% else %}
        <h2>Link was not understood as a correct one</h2>
        <h2>Request another password reset</h2>

    {% endif %}
{% endblock %}